:root {
    --rowHeight: 18vh;
    --colWidth: 18vw;
    --videoWidth: 20vw;
    --gap: 1vW;
}

body{
      background: blue;
}
  
.videos { 
    width: var(--videoWidth);
    display: grid;
    max-width: 200px;
    
    position: fixed;
    right: var(--gap);
    bottom: var(--gap);
      
    grid-gap: var(--gap);
    grid-auto-flow: row;
      
    grid-template-columns: repeat(auto-fit, minmax(var(--colWidth), 1fr)) ;
}
  
.videoContainer {
    position: relative;
    overflow: hidden;
      
    min-height: var(--rowHeight);
    min-width: var(--colWidth);
    max-height: 150px;
    max-width: 200px;
}
  
.videoContainer video {
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    max-height: 150px;
    max-width: 200px;
}
  
.videoLabel {
    color: white;
    font: bold 18px Arial, Sans-Serif;
    line-height: 18px;
    height: 18px;
      
    background: rgba(0, 0, 0, 0.55);
      
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 4px;
}
